.burgerBtn {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;

  & span {
    position: absolute;
    top: 11.25px;
    left: 3px;
    width: 18px;
    height: 1.5px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.5s;
  }

  &.open::before {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  &.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &.open span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &.open::after {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

.burgerBtn::before {
  content: '';
  position: absolute;
  top: 5.25px;
  left: 3px;
  width: 12.75px;
  height: 1.5px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}

.burgerBtn::after {
  content: '';
  position: absolute;
  bottom: 5.25px;
  left: 3px;
  width: 12.75px;
  height: 1.5px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.5s;
}
