.container {
  max-width: 1320px;
  margin: auto;
}

@media (max-width: 1550px) {
  .container {
    margin: 0 115px;
  }
}

@media (max-width: 1000px) {
  .container {
    margin: 0 72px;
  }
}

@media (max-width: 670px) {
  .container {
    margin: 0 30px;
  }
}
