.tabPane {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 1000px) {
  .tabPane {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 670px) {
  .tabPane {
    grid-template-columns: 1fr;
  }
}
