.tabs {
  position: relative;
}

.tabTitles {
  list-style: none;
  display: flex;
  height: 60px;
}

.divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3B3B3B;
  margin-bottom: 9px;
}
