/* vars */
$bg-color: #2b2b2b;
$secondary-bg: #3B3B3B;
$btn-bg: #A259FF;
$first-gradient-bg: linear-gradient(#A259FF, #FF6250);
$second-gradient-bg: linear-gradient(#A259FF, #377DF7);
$error-color: rgb(255, 60, 60);