.dropDown {
  position: relative;
}

.list {
  position: absolute;
  min-width: 230px;
  right: -40px;
  display: grid;
  grid-gap: 8px;
  top: 143%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  list-style: none;
  padding: 0 15px 12px;
  background-color: #2b2b2b;

  & img {
    width: 20px;
    height: 20px;
  }
}

.link {
  display: flex;
  gap: 6px;
  padding: 8px 16px;
  cursor: pointer;
}
