@import '@scss/variables';
.formSub {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 420px;
}

.imgSub {
  display: none;
}

@media (max-width: 670px) {
  .formSub {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: static;
    justify-content: center;
    max-width: 670px;
  }

  .imgSub {
    display: inline;
  }
}
